table{
    
    border: 1px rgb(66, 27, 241) solid;
    border-spacing: 5px;
    padding: 5px;
    table-layout: fixed;
    
}
td{
   text-align: center;
   width: 100px;
}
.TOTAL{
    width: 200px;
}
#heading{
    text-decoration: underline;
}


th{
    text-align: center;
}

